input{
    margin: 32px;
}
body{
    background-color: yellow;

}
li{
    background: seagreen !important;
}
input{
    width: 200px !important;
    height: 100px !important;
}
input .type{
    font-size: 12px !important
}
button{
    width: 90px !important
}